/node_modules
/public/css/app.css
/public/hot
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/storage
/storage/*.key
/vendor
.env
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
